/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@font-face {
	font-family:roboto;
	src: url("../font/roboto.woff2");
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*добавляем обводки нескольеим крупным блокам*/
/*BODY > * {
	outline: 2px solid deeppink;
}
BODY > * > * {
	outline: 2px dashed lime;
	outline-offset: -2px;
}
BODY > * > * > * {
	outline: 2px dotted dodgerblue;
	outline-offset: -4px;
}*/
/*=======*/
body{
    /* Style for "Фон" */
    width: 100%;
    height: 2416px;
    background-color: #849d8f;
    /* Style for "Закупка ин" */
    color: #323232;
/*    font-family: roboto;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.container{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
	/*background: rgba(166, 98, 138, 0.3);*/
}
input{
	border: 1px solid #eeeeee;
	border-radius: 5px;
	background: rgba(255,255,255,1);
}
/*================================
Start header
==================================
*/

.main-header{
    width: 100%;
    height: 125px;
	/*background: yellow;*/
}
.logo{
    width: 154px;
    height: 64px;
    /*background-image: url("../img/Logo.png");*/
    margin-top: 9px;
	margin-right: 25px;
	float: left;
}
.main-menu{
	float: left;
	/*background: coral;*/
}
.main-menu__list{
	/*background: #ffaf4c;*/
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-menu__item{
	display: inline-block;
/*	background: darkcyan;*/
	padding-right:25px;
	position: relative;
	margin-top: 25px;
}
.main-menu__list a{
	display: block;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	padding: 5px 15px;
	border-radius: 15px;
}
.main-menu__link:hover{
	color: #000000;
	background: white;
}
.main-menu__item:hover .sub-menu{
	display: block;
	transform: scaleY(1);
}
.sub-menu{
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #ffffff;
	border-radius: 5px;
	top: 30px;
	left:-6px;
	display: none;
	box-shadow: 0 20px 35px rgba(0,0,0,0.25),
	0 10px 20px rgba(0,0,0,0.22);
}
.sub-menu__item{
	padding: 5px 0;
	white-space: nowrap;
}

.sub-menu__item--active{
    border-bottom: solid 2px black;
    font-weight: bold;
	text-align: center;
}
.sub-menu__item .sub-menu__link{
	color: black;
	text-decoration: none;
}
/*Форматировать ссылки нужно в указанной последовательности, в противном случае состояние стилей перестанет работать (в силу механизма каскадности).*/
.sub-menu__item .sub-menu__link:visited{
	background: #d07058;
}
.sub-menu__item .sub-menu__link:hover{
  background: #fbded7;
  border-radius: 0;
}
.sub-menu__item .sub-menu__link:active{
	background: #f6b5a5;
}
/**/
.user-nav{
	float: right;
	margin-top: 25px;
	position: relative;
	/*background: #b3d4fc;*/
}
.user-nav-btn{
	display: block;
	float: left;
	height: 33px;
	margin-right: 20px;
	border: none;
	cursor: pointer;
}
.user-nav-btn:last-child{
	margin-right: 0;
}
.user-nav-btn__search{
	width: 33px;
	background: url("../img/user-nav-spr.png") no-repeat;
	/*background-color: rgba(255,255,255,0.3);*/
	border-radius: 16px;
/*	background-position: 0px 0px;*/
}
.user-nav-btn__signup{
	width: 90px;
	background: url("../img/user-nav-spr.png") no-repeat;
	background-position: -40px 0;
	border-radius: 16px;
}
.user-nav-btn__basket{
	width: 117px;
	background: url("../img/user-nav-spr.png") no-repeat;
	background-position: -140px 0;
	border-radius: 16px;
}
.user-nav-btn__search:hover{
	background-position: 0 -35px;
}
.user-nav-btn__signup:hover{
	background-position: -50px -35px;
}
.user-nav-btn__basket:hover{
	background-position: -140px -35px;
}
.modal{
	background: #f8f7f4;
	position: fixed;
	border-radius: 5px;
	box-shadow: 0 20px 35px rgba(0,0,0,0.25),
		0 10px 20px rgba(0,0,0,0.22);
	text-align: center;
}
.modal-search{
	height: 85px;
	width: 340px;
	top: 60px;
	left: 605px;
	display: none;
}
.modal-signup{
	height: 215px;
	width: 280px;
	top: 60px;
	left: 795px;
	display: none;
}
.user-nav-input{
	width: 90%;
	height: 45px;
	margin: 20px 15px 0 15px;
	/*border: 1px solid #eeeeee;
	border-radius: 5px;
	background: rgba(255,255,255,1);*/
}
input::placeholder{
	color: #b4b4b4;
}

/*.user-nav-f__signup{
	width: 93px;
}
.user-nav-btn{
	width: 20px;
	height: 20px;
	position: absolute;
	border: none;
	top: 8px;
	left: 8px;
	background: url(../img/user-nav-sprites.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}*/
/*.user-nav-btn{
	width: 66px;
	height: 32px;
    border: 0 none;!*убираем границу и цвет границы*!
    background-color: rgba(255,255,255,0.3);
	white-space: nowrap;
	border-radius: 16px;
}*/
/*.user-nav-btn__search{
	width: 32px;
	background: url("../img/user-sprites.png") no-repeat;
	background-position: 8px;
	top: 8px;
}*/
/*.user-nav-btn__signup{
	width: 93px;
}*/
/*.user-nav-btn__basket{
	width: 117px;
}*/
/*.user-nav__login{
    width: 93px;
    height: 33px;
    border-radius: 50%;
    border: 0 none;!*убираем границу и цвет границы*!
    background: #ffaf4c;
    border-radius: 25px;
}

.search-popup{
    display: none;
    width:340px;
    heght: 85px;
    border-radius: 5px;
    background: #f8f7f3;
}
.search-popup__btn{
    width:300px;
    heght: 45px;
    border: 1px solid #eeeeec;
    border-radius: 4px;
    margin: 20px;
    color:#d5d5d5;
}
.search-popup:hover ~ .search-popup__btn{
    display: block;
}
!*.login{
    background-image: url("../img/user-sprites.png");
    background-position: -50px 7px;
    background-position: left center;
    background-repeat: no-repeat;

}*!*/
/*====MAIN START===*/
.banner{
	width: 560px;
	height: 230px;
	position: relative;
	display: inline-block;
	margin-right: 20px;
}
.banner:last-child{
	margin-right: 0;
}
.banner__pic1{
	background: url("../img/banners.png") no-repeat;
}
.banner__pic2{
	background: url("../img/banners.png") no-repeat;
	background-position: -586px 0;
}
.banner-title{
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	margin-left: 20px;
	padding-top: 15px;
}
.banner-text{
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	margin-left: 20px;
	padding-top: 15px;
}
.main-btn{
	/*width: 165px;
	height: 50px;*/
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-radius: 25px;
	border: none;
	background: #cb3926;
	color: white;
	font-size: 18px;
	line-height: 22px;
	padding: 10px 25px;
}
.main-btn:hover{
	background: #f48568;
}
.hits{
	width: 100%;
	height: 325px;
	margin-top: 40px;
}
.hit-block{
	width: 270px;
	height: 325px;
	float: left;
	margin-right: 23px;
	text-align: center;
	position: relative;
}
.hit-block:last-child{
	margin-right: 0;
}
.hit-block__hit{
	position: absolute;
	width: 61px;
	height: 61px;
	background: url("../img/hit.png") no-repeat;
}
.hit-block__pic{
	width: 267px;
	height: 267px;
	margin-bottom: 10px;
}
.hit-block__pic1{
	background: url("../img/ice-cream.png") no-repeat;
}
.hit-block__pic2{
	background: url("../img/ice-cream.png") no-repeat;
	background-position: -293px 0;
}
.hit-block__pic3{
	background: url("../img/ice-cream.png") no-repeat;
	background-position: -586px 0;
}
.hit-block__pic4{
	background: url("../img/ice-cream.png") no-repeat;
	background-position: -879px 0;
}
.hit-block__price{
	position: absolute;
	top: 210px;
	font-size: 35px;
	font-weight: bold;
	color: #ffffff;
}
.hit-block__text{
	display: inline-block;
	margin: 0;
	/*испол. подчеркивание при помощи границы*/
	border-bottom: 1px solid rgba(255,255,255,0.4);
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
}
.store-info{
	width: 100%;
	height: 306px;
	margin-top: 20px;
	background: url("../img/bg-seo.png") no-repeat;
}
.store-info__title{
	font-size: 24px;
	line-height: 35px;
	color: #323232;
	padding-top: 20px;
	margin-left: 20px;
}
.store-info__block{
	float: left;
	margin-right: 20px;
}
.store-info__block:last-child{
	margin-right: 0;
}
.store-info__seo{
	width: 560px;
	height: 85px;
	position: relative;
}
.seo__img{
	position: absolute;
	top: -15px;
	width: 49px;
	height: 49px;
	background: url("../img/seo-sprite.png") no-repeat;
	margin-left: 20px;
	float: left;
	margin-right: 10px;
}
.seo__img1{
	background: url("../img/seo-sprite.png") no-repeat;
	background-position: -60px 0;
}
.seo__img2{
	background: url("../img/seo-sprite.png") no-repeat;
	background-position: -120px 0;
}
.seo__img3{
	background: url("../img/seo-sprite.png") no-repeat;
	background-position: -180px 0;
}
.seo__text{
	display: inline-block;
	margin-left: 80px;
	font-size: 16px;
	line-height: 22px;
}
.best-part{
	width: 100%;
	height: 220px;
	margin-top: 20px;
}
.news{
	width: 560px;
	height: 100%;
	background: url("../img/bg-straw.png") no-repeat;
	float: left;
	margin-right: 30px;
}
.news__text,
.news__link{
	margin-left: 20px;
}
.news__link{
	display: inline-block;
	width: 280px;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	text-decoration: none;

}
.news__link p{
	display: inline-block;
	margin: 0;
	border-bottom: 2px solid #000000;
}
.email{
	width: 560px;
	height: 100%;
	background: url("../img/bg-mail.png") no-repeat;
	float: left;
	margin-right: 20px;
}
.email:last-child{
	margin-right: 0;
}
.email__form{
	width: 550px;
	height: 210px;
	margin: 5px;
	background: #f8f7f4;
	border-radius: 10px;
	position: relative;
}
.email__text{
	padding: 35px 0 0 15px;
}
.email__input{
	width: 370px;
	height: 45px;
	margin-left: 15px;
	margin-top: 20px;
}
input[placeholder]{
	padding-left: 10px;
}
.main-btn__email{
	padding: 10px 20px 10px 20px;
	bottom: 28px;
}
#map{
	width: 100%;
	height: 430px;
	margin-top: 20px;
}
/*====MAIN END===*/
/*====FOOTER START=======*/
.main-footer{
	width: 100%;
	height: 100px;
	margin-bottom: 0;
/*	background: #ffaf4c;*/
	color: #fefefe;
	font-size: 12px;
}
.block-social-icons{
	width: 190px;
	height: 100px;
	float: left;
/*	background: forestgreen;*/
}
.social-icon{
	display: inline-block;
	margin: 0;
	width: 40px;
	height: 40px;
	margin-right: 6px;
	margin-top: 30px;
}
.social-icon:last-child{
	margin-right: 0;
}
.social-icon__tw{
	background: url("../img/social-icon.png");
}
.social-icon__inst{
	background: url("../img/social-icon.png");
	background-position: -48px 0;
}
.social-icon__fb{
	background: url("../img/social-icon.png");
	background-position: -96px 0;
}
.social-icon__vk{
	background: url("../img/social-icon.png");
	background-position: -144px 0;
}
.block-info{
	float: left;
	width: 330px;
	margin-left: 20%;
	margin-top: 30px;
/*	background: cadetblue;*/
}
.block-info-link{
	float: left;
	margin-right: 15px;
	width: 150px;
/*	background: #f6b5a5;*/

}
.block-info-link:last-child{
	margin-right: 0;
}
.block-info-link p{
	margin: 0;
}
.block__item{
	display: inline-block;
	width: 15px;
	height: 15px;
}
.block__item--img{
	background: url("../img/social-icon.png");
	background-position: -199px 0;
	padding-right: 5px;
}
.footer-link{
	font-size: 13px;
	color: #fefefe;
	display: inline-block;
	white-space: nowrap;/*запретить перенос строк*/
}
.block-logo{
	width: 190px;
	height: 100px;
	float: right;

}
.f-logo{
	display: block;
	width: 110px;
	height: 40px;
	background: url("../img/social-icon.png") no-repeat;
	background-position: -246px 0;
	margin-top: 14px;
}
/*====FOOTER END=======*/










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
